.image {
  width: 650px;
}

@media only screen and (max-width: 1280px) {
  .image {
    width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .image {
    width: 380px;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    width: 350px;
  }
}

@media only screen and (max-width: 640px) {
  .image {
    width: 300px;
  }
}

@media only screen and (max-width: 640px) {
  .image {
    width: 300px;
  }
}

@media only screen and (max-width: 420px) {
  .image {
    width: 250px;
  }
}
